@model IEnumerable<Race>
<form class="d-flex" asp-action="FindByName">
    <input class="form-control me-sm-2" type="search" placeholder="Search by name" value="@ViewData["byname"]" name="s">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>
<form class="d-flex" asp-action="FindByCity">
    <input class="form-control me-sm-2" type="search" placeholder="Search by City" value="@ViewData["cityname"]" name="s">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="album py-5 bg-primary">
    <div class="container">
        <div class="row ">
            @foreach (var race in Model)
            {
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="@race.Image" width="100%" height="225" alt="Card image cap" />
                        <div class="card-body">
                            <p class="card-text">@race.Name</p>
                            <p class="card-text">@race.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" asp-action="Detail" asp-route-id="@race.Id">View</a>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {
                                        <a type="button" class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@race.Id">Edit</a>
                                        <a type="button" class="btn btn-sn btn-outline-danger" asp-action="Delete" asp-route-id="@race.Id">Delete</a>
                                    }
                                </div>
                                <small class="text-muted">@race.RaceCategory</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
